<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Control</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<button id="startBtn">Start Camera</button>
<button id="stopBtn">Stop Camera</button>
<img id="videoFeed" src="" alt="Camera Feed">

<script>
    var videoFeed = document.getElementById('videoFeed');
    
    $('#startBtn').click(function() {
        videoFeed.src = '/start_camera';
    });

    $('#stopBtn').click(function() {
        videoFeed.src = '';
    });
</script>

</body>
</html>